<!--CSS: https://bootdey.com/snippets/view/bs4-contact-cards-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: 0; padding-top: 0;">
    <a class="navbar-brand" style="color:white;" href="#">Seelenkulinarik</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link btn" (click)="openAddCardModal()">Karte hinzufügen<span class="sr-only"></span></a>
       </li>
       <li class="nav-item active">
     </li>
       </ul>
    </div>
    <a class="nav-link btn" (click)="logout()">Logout</a>
  </nav>
  <div class="container" id="main-container">
     <br>
      <div class="row">        

         <table id="sortableTable">
            <thead>
              <tr>
                <th style="width: 5%;">ID</th>
                <th style="width: 20%;" (click)="sortTable(titleColumn)">
                  Titel 
                  <span class="arrow-stack">
                    <span *ngIf="sortColumn === titleColumn && sortDirection === 1" style="vertical-align: middle;">&#9650;</span>
                    <span *ngIf="sortColumn === titleColumn && sortDirection === -1" style="vertical-align: middle;">&#9660;</span>
                    <span *ngIf="sortColumn !== titleColumn">&#9650;</span>
                    <span *ngIf="sortColumn !== titleColumn">&#9660;</span>
                  </span>
                </th>
                <th style="width: 30%;" (click)="sortTable(bodyColumn)">
                  Inhalt
                  <span class="arrow-stack">
                    <span *ngIf="sortColumn === bodyColumn && sortDirection === 1" style="vertical-align: middle;">&#9650;</span>
                    <span *ngIf="sortColumn === bodyColumn && sortDirection === -1" style="vertical-align: middle;">&#9660;</span>
                    <span *ngIf="sortColumn !== bodyColumn">&#9650;</span>
                    <span *ngIf="sortColumn !== bodyColumn">&#9660;</span>
                  </span>
                </th>
                <th style="width: 15%;">Bild</th>
                <th style="width: 15%;">Hintergrundbild</th>
                <th style="width: 15%;">Optionen</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let card of backendService.cards">
                <td>{{ card.id }}</td>
                <td class="truncate">{{ card.Title }}</td>
                <td class="truncate">{{ card.Body }}</td>
                <td>
                  <a href="http://localhost:8080/UserImages/{{card.ImageURI}}" target="_blank">
                    <img *ngIf="card.ImageURI != null && card.ImageURI != ''" class="selected-image" [src]="'http://localhost:8080/UserImages/' + card.ImageURI"/>
                  </a>
                </td>
                <td>
                  <a href="http://localhost:8080/UserImages/{{card.AestheticURI}}" target="_blank">
                    <img *ngIf="card.AestheticURI != null && card.AestheticURI != ''" class="selected-image" [src]="'http://localhost:8080/UserImages/' + card.AestheticURI"/>
                  </a>
                </td>
                <td>
                  <div class="float-left btn-group btn-group-sm">
                    <a (click)="openEditCardModal(card)" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                      <i class="fa fa-pencil">Ändern</i>
                    </a>
                    <a (click)="openDeleteCardModal(card)" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                      <i class="fa fa-times">Löschen</i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
  
  <!-- Notification for no cards -->
  <div *ngIf="backendService.cards?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">KEINE KARTEN!</h4>
    <p>Es wurden keine Karten gefunden.</p>
  </div>
  </div>