body{
    background: #f5f5f5;
    background-color: #e9e9e9; /* Slight grey background color */
    color: white;
}
.card {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    margin-bottom: 30px;
}
.w-60 {
    width: 60px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    font-weight: 600;
}
.social-links li a {
    -webkit-border-radius: 50%;
    background-color: rgba(89,206,181,.85);
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    font-size: 12px;
}
a {
    color: #fff;
}
a:hover{
  color: #909090;
}
.no-border{
    border-bottom: none;
    border-top: none;
}

.no-border-first{
    border-bottom: none;
}

.no-border-last{
    border-top: none;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    white-space: nowrap;
  }

  th {
    cursor: pointer;
  }

  tr:nth-child(even) {
    background-color: #e2e2e2;
  }

  .box {
    float: left;
    height: 23px;
    width: 23px;
    margin-bottom: 15px;
    clear: both;
    vertical-align: middle;
  }
  
  .red {
    background-color: #ff0000;
  }

  .dark-orange{
    background-color: #cc3300;
  }
  .burnt-orange{
    background-color: #ad5200;
  }
  .dark-goldenrod{
    background-color: #8d7200;
  }
  .golden-drab{
    background-color: #639c00;
  }
  
  .lime-green {
    background-color: #00ff00;
  }
  
  .green {
    background-color: green;
  }

  .arrow-stack {
    display: inline-block;
    vertical-align: middle; /* Align the arrows vertically in the middle */
    line-height: 1em; /* Set the line height to half of the text height */
    font-size: .5em;
  }
  
  .arrow-stack span {
    display: block;
  }

  .container {
    width: 100%;
    padding-right: 1px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
  }
  
  .container-fluid {
    width: 100%;
    padding-right: 1px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
/* Zebra striping for table rows */
#sortableTable tbody tr:nth-child(odd) {
  background-color: #808080; /* Light gray color for odd rows */
}
#sortableTable tbody tr:nth-child(even) {
  background-color: #b0b0b0; /* White color for even rows */
}
tbody
{
  color: #f9f9f9;
}
#sortableTable, #sortableTable th, #sortableTable td {
  border: 1px solid #000000; /* Black border color */
}
#sortableTable {
  border-collapse: collapse; /* Ensure borders don't overlap */
}
img{
  height: 50px;
  width: auto;
}

.truncate {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* Limit to 4 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Ensure text wraps */
  word-break: break-word; /* Handle long words */
  max-width: 100%; /* Ensure it respects table cell width */
  line-height: 1.2em; /* Adjust this to your line height */
  max-height: 4.8em; /* 4 lines * line-height */
}




