.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #c0d7df;
    height: var(--navbar-height);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Align items vertically */
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar-nav {
    display: flex; /* Use flexbox for nav items */
    list-style: none; /* Remove default list styles */
    margin: 0;
    padding: 0;
}

.nav-items {
    margin-right: 20px;
}

.nav-link {
    color: #1F1F1F;
}

.nav-link:hover {
    color: #000;
}
