  <!-- Edit Modal -->
  <div class="" id="editCardModal" tabindex="-1" role="dialog" aria-labelledby="cardEditModalLabel" aria-hidden="true">
    <div class="" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateCardModalLabel">Karte Berabeiten: {{backendService.editCard?.Title}} ID: {{backendService.editCard?.id}}</h5>
             <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="close()">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body" id="EditCardModalBody">
             <form #editForm="ngForm">
              <div class="form-group">
                  <label for="Title">Titel</label>
                  <input type="text" ngModel="{{backendService.editCard?.Title}}" name="Title" class="form-control" id="Title" placeholder="Titel der Karte" required>
               </div>
               <div class="form-group">
                  <label for="Body">Inhalt</label>
                  <textarea ngModel="{{backendService.editCard?.Body}}" name="Body" class="form-control" aria-describedby="body" placeholder="Inhalt" required></textarea>
               </div>

               <div class="form-group button-group">
                  <div class="button-div">
                      <button type="button" class="btn btn-primary" (click)="openImageModal(0)">Hauptbild auswählen</button>
                      <img *ngIf="backendService.editCard?.ImageURI != null && backendService.editCard?.ImageURI != ''" class="selected-image" [src]="'http://localhost:8080/UserImages/' + backendService.editCard?.ImageURI" />
                  </div>
                </div>
      
                <div class="form-group button-group">
                  <div class="button-div">
                      <button type="button" class="btn btn-primary" (click)="openImageModal(1)">Hintergrundbild auswählen</button>
                      <img *ngIf="backendService.editCard?.AestheticURI != null && backendService.editCard?.AestheticURI != ''" class="selected-image" [src]="'http://localhost:8080/UserImages/' + backendService.editCard?.AestheticURI" />
                  </div>
                </div>
  
               <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary" (click)="close()">Schließen</button>
                  <button [disabled]="editForm.invalid || backendService.editCard?.ImageURI == null || backendService.editCard?.AestheticURI == null" (click)="onEditCard(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Änderungen speichern</button>
               </div>
             </form>
          </div>
       </div>
    </div>
  </div>