.head-section {
    background-image: url('../../assets/Img/Main Background Mountains.webp');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--navbar-height));
    margin-top: var(--navbarHeight);
    width: 100%;
}
.head-section img{
    margin-top: 20px;
    height: 25vh;
    width: auto;
}
.head-section h1, p{
    text-align: center;
    font-size: 100%;
}
.profile-name {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
}

.info-section {
    height: calc(100vh - var(--navbar-height));
    /* width: calc(100% - 80px); */
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    vertical-align: central;
    background-color: #c0d7df;
    overflow: hidden;
    background-image: url('../../assets/Img/Cards/Olperer Aesthetic.webp');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;

    position: relative;
}

.footer-section{
    height: calc(100vh - var(--navbar-height))
}

.card {
    position: relative;
    display: none; /* Hide all cards by default */
    flex-direction: row;
    width: 80%;
    height: 80%;
    top: 10%;
    background-color: #fcecdf;
    border-radius: 2vh;
    padding: 2vh;
    animation-name: card-Anim;
    animation-duration: .5s;
}@keyframes card-Anim{
    0% {
        display: flex;
        left: 10%;
    }
    100% {
        display: flex;
        left: -100%;
    }
 }

.card.active {
    border-radius: 2vh;
    padding: 2vh;
    position: relative;
    display: flex;
    flex-direction: row;
    color: #1F1F1F;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: #fcecdf;
    animation-name: card-activeAnim;
    animation-duration: 1s;
}@keyframes card-activeAnim
{
    0% {
        left: 100%;
    }
    90% {
        left: 8%;
    }
    100% {
        left: 10%;
    }
}
 .card-mainImg{
     height: 40%;
     aspect-ratio: 1;
     flex: 0 0 auto;
     margin-right: 10px;
 }
 .card-mainDiv h1
 {
    font-size: 400%;
 }
 .card-mainDiv p{
     font-size: 200%;
 }
.card-mainDiv a:link, a:active, a:visited {
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-family: Georgia, serif;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: center;
}
.card-mainDiv a:hover {
    text-decoration: underline;
    font-family: Georgia, serif;
    text-transform: capitalize;
}
.card-mainDiv a img{
    width: 32px;
    height: 32px;
}

.arrow {
    position: absolute;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    z-index: 1;
    color: #f5f5f5;
    width: 40px;
    background-color: #606060;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    text-align: center;
}
.arrow-text {
    position: absolute; /* Position text absolutely */
    top: 45%; /* Offset text upwards by 10px */
}
.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}