<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div class="head-section" #scrollDiv>
    <div class="head-content">
        <img src="http://www.seelenkulinarik.at:8080/AssetImages/assets/Img/Original.png"/>
        <div class="profile-name">
            <!-- <h1>Seelenkulinarik</h1> -->
            <p>In der Einzigartigkeit den Zauber des Augenblicks spüren,<br>
                In Klarheit die Tiefgründigkeit und den Wachstum leben,<br>            
                Als Lohn die Lebensfreude spüren,<br>            
                Es ist gut, genauso wie es kommt.</p>
        </div>
    </div>
</div>

<div class="info-section" #scrollDiv [ngStyle]="{'background-image': 'url(http://www.seelenkulinarik.at:8080/UserImages/' + currentCard?.AestheticURI + ')'}">
    <div class="card" *ngFor="let card of cards" #card>
        <img src="http://www.seelenkulinarik.at:8080/UserImages/{{card.ImageURI}}" class="card-mainImg"/>
        <div class="card-mainDiv">
            <h1>{{ card.Title }}</h1>
            <p style="white-space: pre-line;">{{ card.Body }}</p>
        </div>
    </div>
    <div class="background left-background"></div>
    <div class="arrow left-arrow" (click)="previousSection()" *ngIf="cards.length > 1">
        <div class="arrow-text">&#10094;</div>
    </div>
    <div class="arrow right-arrow" (click)="nextSection()" *ngIf="cards.length > 1">
        <div class="arrow-text">&#10095;</div>
    </div>
</div>

<div class="footer-section" #scrollDiv>
    <app-footer></app-footer>
</div>