<app-navbar></app-navbar>
<router-outlet></router-outlet>

<div class="head-section" #scrollDiv>
    <img src="../assets/Img/profile-pic.webp"/>
    <div class="profile-name">
        <h1>Seelenkulinarik</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In cursus, leo quis tempor faucibus, augue dui viverra mi, at suscipit mauris turpis vel ligula. Proin non ullamcorper dui</p>
    </div>
</div>

<div class="info-section" #scrollDiv>
    <div class="card" *ngFor="let card of cards" #card>
        <img src="http://localhost:8080/UserImages/{{card.ImageURI}}" class="card-mainImg"/>
        <div class="card-mainDiv">
            <h1>{{ card.Title }}</h1>
            <p>{{ card.Body }}</p>
        </div>
    </div>
    <div class="background left-background"></div>
    <div class="arrow left-arrow" (click)="previousSection()" *ngIf="cards.length > 1">
        <div class="arrow-text">&#10094;</div>
    </div>
    <div class="arrow right-arrow" (click)="nextSection()" *ngIf="cards.length > 1">
        <div class="arrow-text">&#10095;</div>
    </div>
</div>

<div class="footer-section" #scrollDiv>
    <app-footer></app-footer>
</div>