<footer class="border-top footer text-muted">
    <div class="container footer-container">
      <div class="footer-left">
        <div class="imprint">
          <strong>IMPRESSUM</strong><br />
          Stand 2024<br /><br />
          Seelenkulinarik by Claudia Lübbers<br />
          Psychologische Beraterin nach Viktor E. Frankl<br /><br />
          Broch-Weg 12<br />
          A-6100 Mösern bei Seefeld/Telfs<br />
          Tel 0043 (0)676 77 33 830<br />
          <a href="mailto:info@seelenkulinarik.at">info&#64;seelenkulinarik.at</a><br />
          <a href="http://www.seelenkulinarik.at" target="_blank">www.seelenkulinarik.at</a><br /><br />
          Inhaberin: Claudia Lübbers<br />
          GISA-Zahl: 36479405<br />
          Mitglied der WKO<br />
          Bezirkshauptmannschaft Innsbruck<br /><br />
          Bildrechte liegen bei Claudia Lübbers, Photoleap und Stock Adobe Fotos
        </div>
      </div>
      <div class="footer-right">
        <a href="/gdpr">GDPR</a>
        <a href="/terms">Terms and Conditions</a>
      </div>
    </div>
    <div class="footer-copyright">
      &copy; 2024 - Seelenkulinarik.at
    </div>
  </footer>
  