.footer-section {
    height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
  }
  
  .footer-container {
    flex: 1;  /* Allow this section to take up the remaining height */
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center imprint and links vertically */
    padding: 20px 0;
    height: 95%;
  }
  
  .footer-left {
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;    
    color: #F9F9F9;
  }
  
  .imprint {
    text-align: center;
  }
  
  .footer-right {
    flex: 1;
    display: flex;
    flex-direction: column; /* Stack the links vertically */
    align-items: center;  /* Align the links to the right */
    gap: 10px;    
    color: #F9F9F9;
  }
  
  .footer-right a {
    text-decoration: underline;
  }
  
  .footer-copyright {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    width: 100%;
    max-height: 40px;
    color: #F9F9F9;
  }
  .footer{    
    height: calc(100vh - var(--navbar-height));    
    color: #F9F9F9;
    font-size: 25px;
  }