<div class="content">
    <h1>AGBs und Wiederrufsrecht</h1>
    <p>1.	Die Allgemeinen Geschäftsbedingungen (AGB) sind für alle Verträge und Leistungen zwischen der Beraterin Claudia Lübbers (www.seelenkulinarik.at) un ihren Klienten. Rechtsgeschäfte zwischen der Beraterin und dem Klienten, die nicht unter den AGB fallen, bedürfen einer schriftlichen individuellen Vereinbarung. Mündliche Vereinbarungen sind unwirksam. Andere AGB finden ebenfalls keine Anwendung.</p>
    <br><br><br>
    <p>2.	Terminvereinbarung und Vertragsabschluss
    -	Eventuelle Leistungsbeschreibungen sowie die Bewerbung von Dienstleistungen auf Flyer, Website, social Media, Visitenkarten, im Beratungsraum u.s.w, sind unverbindlich und freibleibend. Die Beraterin kannAngebote (auch zu Terminvereinbarungen) ohne Angabe von Gründen annehmen oder ablehnen. Diese Angebote können per social Media, telefonisch, per Mail, online oder auch persönlich gestellt werden.
    -	Die Beraterin bestätigt eine eingegangene Buchung eines Klienten per SMS oder E-Mail.</p>
    <br><br><br>
    <p>3.	Stornierungen, Terminverschiebung oder verspätetes Erscheinen zum vereinbarten Termin
    -	Vereinbarte Termine sind verbindlich
    -	Kann der vereinbarte Termin vom Klienten nicht eingehalten werden, ist unter folgender Voraussetzung eine Verschiebung möglich:
        Kostenfreie Terminverschiebung oder Absage ist bis 24 Stunden vor dem vereinbarten Termin möglich. 
        Wird die 24-Stunden Regel unterschritten, so darf die Beraterin die volle Summe als Stornogebühr berechnen. Anspruch auf Ersatzleistung besteht nicht.
        Für vom Klienten gewünschte Verkürzung der vereinbarten Dienstleistung wird keine Rückerstattung oder späteres nachholen dieser Zeit gewährt.
    -	Kann die Beraterin einen Termin nicht einhalten, so wird der Klient umgehend informiert. Die Beraterin ist berechtigt, den Termin kurzfristig zu verschieben oder vom Vertrag zurückzutreten. </p>
    <br><br><br>
    <p>4.	Preise- und Zahlungsbedingungen
    -	Das Entgelt für die im Kaufvertrag mit dem Klienten vereinbarte Summe ist vorab zu überweisen oder es wird eine Einzugsermächtigung für die Beraterin ausgestellt.
    -	Rückerstattung von der im Voraus bezahlten Leistung ist nur bei triftigen Gründen und in schriftlicher Form mit der Beraterin abzusprechen.</p>
    <br><br><br>
    <p>5.	Auskunft/Information vom Klienten bezüglich folgender Punkte:
    -	Der Klient verpflichtet sich, noch bevor der Vertrag mit der Beraterin eingegangen wird, diese über psychologische Diagnosen, psychologische Behandlungen, Allergien, Erkrankungen, u.s.w. zu informieren und zu Beginn einer jeden Gesprächseinheit über Veränderungen/Neuerungen im Krankheitsbild des Klienten die Beraterin zu informieren.
    -	Der Klient beantwortet Fragen bezüglich seines/ihres Gesundheitszustandes gewissenhaft und wahrheitsgemäß.</p>
    <br><br><br>
    <p>6.	Salvatorische Klausel
    Falls eine oder mehrere in diesen AGB enthaltenen Bestimmungen unwirksam, nichtig oder Ihre Wirksamkeit verlieren, wird die Gültigkeit der übrigen Bestimmungen nicht berührt. </p>
    <br><br><br>
    <p>7.	Durch die Nutzung der Internetseiten entstandene Rechtsbeziehung von Ihnen und Claudia Lübbers unterliegt dem Recht der österreichischen Republik. Gerichtsstand ist Innsbruck. 
    Onlin-Streitbeilegung:
    -	Informationen zur Online-Streitbeilegung gemäß Art. 14. Abs. 1 ODR-VO: 
    Die EU-Kommission bietet die Möglichkeit zur Online-Streitbeilegung auf einer von ihr betriebenen Plattform (OS-Plattform). Die Os-Plattform kann als Anlaufstelle zur außergerichtlichen Beilegung von Streitigkeiten aus Online-Kaufverträgen oder Dienstleistungsverträgen dienen. Diese Plattform ist über den externen Link http://ec.europa.eu/consumers/odr zu erreichen.</p>
    <br><br><br>
    <p>Bitte schauen Sie gern auch den Haftungsausschluss mit Datenschutz und Datenerfassung an.</p>
</div>
